@page
@model CenterStage.Pages.About.AboutModel
@{
    ViewData["Title"] = "About";
}

<body style="background-color:lightpink">


    <div class="box-shadow"><h1>Our Story</h1></div>


    @*<p>
            <input type="submit" value="Create"
                   asp-route="./EditAbout/1" />
        </p>*@



    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.About[1].MissionStmt)
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.About)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MissionStmt)
                    </td>


                    <td>
                        <a asp-page="./About/EditAbout" asp-route-id="@item.ID">Edit</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <br />
    <br />
    <br />
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.About[1].AboutStudio)</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.About)
            {
                <tr>

                    <td>@Html.DisplayFor(modelItem => item.AboutStudio)</td>
                    <td>
                        <a asp-page="./About/EditAbout" asp-route-id="@item.ID">Edit</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>


</body>


