@page "{searchString?}"
@model CenterStage.Pages.EditClasses.IndexModel

@{
    ViewData["Title"] = "Classes";
}

<h1>Index</h1>
<form>
    <p>

        <select asp-for="ClassPrerequisite" asp-items="Model.Prerequisites">
            <option value="">Prerequisite</option>
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].AgeMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].AgeMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Prerequisite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Class) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prerequisite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
